services:
  db:
    image: mysql:8.0
    container_name: mysql_obligatorio
    restart: always
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: reservas_ucu
      TZ: America/Montevideo
    ports:
      - "3306:3306"
    volumes:
      - ./base-de-datos/schema.sql:/docker-entrypoint-initdb.d/1_schema.sql
      - ./base-de-datos/data.sql:/docker-entrypoint-initdb.d/2_data.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  backend:
    image: obligatorio-backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: reservas_ucu
      ALLOWED_ORIGINS: http://localhost:5173,http://127.0.0.1:5173
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  frontend:
    image: obligatorio-frontend
    build:
      context: .
      dockerfile: frontend/Dockerfile
    environment:
      VITE_API_URL: http://localhost:8000
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  mysql_data:
