body{
    margin:0;
}
.header{
    display:flex;
    flex-direction: row;
    width:100%;
    height:12%;
    padding:0;
    background-color:#1e3264;
    justify-content: space-between;
    align-items: center;
}
.mainContainer{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}
.logoUCU{
    margin-top: 1.5vh;
    height:30vh;
    width:15vw;
}
.cerrarSesion{
    display:flex;
    flex-direction: row;
}
.imagenCerrarSesion{
    margin-top: auto;
    margin-bottom: auto;
    height:30px;
    width:30px;
}
.botonCerrarSesion{
    margin-right: 30px;
    height:40%;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    border:none;
    background-color:#1e3264;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.contenedorCards{
    height:88%;
    background-color: #ecececc9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.card{
    border-radius: 50px;
    background-color:white;
    height:70%;
    width:25%;
    border:3px solid #ffffff;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card:hover{
    border:3px solid #1e3264;
}
.card h1{
    color:black;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 50px;
    text-align: center;
}