body{
    margin:0;
}
.mainContainer{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}
.header{
    display:flex;
    flex-direction: row;
    width:100%;
    height:12%;
    padding:0;
    background-color:#1e3264;
    justify-content: space-between;
    align-items: center;
}
.logoUCU{
    margin-top: 1.5vh;
    height:30vh;
    width:15vw;
}
.volver{
    height:100%;
    display:flex;
    flex-direction: row;
    background-color: #1e3264;
}
.botonVolver{
    margin-right: 30px;
    height:40%;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    border:2px solid #1e3264;
    border-radius: 15px;
    box-shadow: none;
    outline:none;
    background-color:#1e3264;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.botonVolver:hover{
    border:2px solid white;
    box-shadow: none;
    outline:none;
}
.imagenVolver{
    margin-top: auto;
    margin-bottom: auto;
    height:30px;
    width:30px;
}
.contenido{
    height:88%;
    width:100%;
}
.cardMostrarReservas{
    height:90%;
    width:80%;
    background-color: aqua;
    border-radius: 35px;
    border: 2px solid #5c5c5c;
    background-color: #e6e6e6;
    
}