body{
    margin:0;
}
.headeradmin{
    display:flex;
    flex-direction: row;
    width:100%;
    height:12%;
    padding:0;
    background-color:#1e3264;
    justify-content: space-between;
    align-items: center;
}
.maincontaineradmin{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}
.logoUCUadmin{
    margin-top: 1.5vh;
    height:30vh;
    width:15vw;
}
.cerrarSesionadmin{
    height:100%;
    display:flex;
    flex-direction: row;
    background-color: #1e3264;
}
.imagenCerrarSesionadmin{
    margin-top: auto;
    margin-bottom: auto;
    height:30px;
    width:30px;
}
.botonCerrarSesionadmin{
    margin-right: 30px;
    height:60%;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    border: 2px solid #1e3264;
    border-radius: 15px;
    background-color:#1e3264;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    outline:none;
}
.botonCerrarSesionadmin:hover{
    border:2px solid white;    
    box-shadow: none;
    outline:none;
}
.contenedorCardsadmin{
    height:88%;
    background-color: #ecececc9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.cardadmin{
    border-radius: 50px;
    background-color:white;
    height:70%;
    width:25%;
    border:3px solid #ffffff;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cardadmin:hover{
    border:3px solid #1e3264;
}
.cardadmin h1{
    color:black;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 50px;
    text-align: center;
}