
.ParteIzq{
    background-color: #345396;
    opacity:0.85;
    height:100%;
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ParteDer{
  background-color: #d9d9d9;
  height:100%;
  width:30%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.maincontainer{
  background-image: url(../assets/images/salondeclases.jpg);
  background-size: contain;
  padding:0;
  margin-left: -8px;
  margin-top: -8px;
  height:100vh;
  width:100vw;
  display:flex;
  flex-direction: row;
}
.fotosalon{
  height: 100%;
  width:100%;
  position:static;
}
.tintesalon{
  background-color: #1d57c4;
  opacity:1;
  position:static;
}
.titulo{
  margin-top: -350px;
  align-self: center;
  color:white;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitulo{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  margin:0;
  font-weight: lighter;
}
.logoUCU{
  height:300px;
  width:350px;
}
.contenedorLogin{
  background-color: white;
  width:70%;
  height:35%;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.inputlogin{
  width:250px;
  height:50px;
  margin:5px;
  border-radius: 10px;
  border-color: #999999;
}
.botonsesion{
    background-color: #4178dd;
    color:white;
    border-radius: 10px;
    width:150px;
    height:35px;
    cursor:pointer;
}
